
<div class="outer">
    <div class="container">
        <div class="row">
            <div class=" col-lg-5 col-md-7 mx-auto">
                <div class="mt-5 border bg-light rounded-3">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weight-bold d-flex justify-content-center">Sign up</h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="signUpForm">
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="email" type="text" placeholder="Email">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['email'].dirty && signUpForm.hasError('required','email')" class="text-danger">*Email is required</small>
                            <small *ngIf="chck" class="text-danger">*your are no evale to use admin email</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['fullName'].dirty && signUpForm.hasError('required','fullName')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="fullName" type="text" placeholder="Full Name">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['fullName'].dirty && signUpForm.hasError('required','fullName')" class="text-danger">*Full Name is required</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['panNumber'].dirty && signUpForm.hasError('required','panNumber')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="panNumber" type="text" placeholder="PAN Number">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['panNumber'].dirty && signUpForm.hasError('required','panNumber')" class="text-danger">*PAN Number is required</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['bank'].dirty && signUpForm.hasError('required','bank')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="bank" type="text" placeholder="Bank">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['bank'].dirty && signUpForm.hasError('required','bank')" class="text-danger">*Bank is required</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['bankAccountNumber'].dirty && signUpForm.hasError('required','bankAccountNumber')">
                                    <span class="fa fa-user p-2"></span>
                                    <input formControlName="bankAccountNumber" type="text" placeholder="Bank Account Number">
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['bankAccountNumber'].dirty && signUpForm.hasError('required','bankAccountNumber')" class="text-danger">*Bank Account Number is required</small>
                            
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="password" [type]="type" placeholder="Password">
                                    
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['password'].dirty && signUpForm.hasError('required','password')" class="text-danger">*Password is required</small>
                            <div class="form-group pt-3">
                                <div class="input-field" [class.error]="signUpForm.controls['retypePassword'].dirty && signUpForm.hasError('required','retypePassword')">
                                    <span class="fa fa-lock p-2"></span>
                                    <input formControlName="retypePassword" [type]="type" placeholder="Re-type Password">
                                    <span (click)="hideShowPass()" class="fa {{eyeIon}}" ></span>
                                </div>
                            </div>
                            <small *ngIf="signUpForm.controls['retypePassword'].dirty && signUpForm.hasError('required','retypePassword') " class="text-danger">*Re-type Password is required</small>
                            <small *ngIf="str" class="text-danger">*Passwords are not match</small>
                            <button type="submit" class="btn btn-primary btn-block mt-4 w-100" (click)="onSignup()">Sign up</button>
                            <div class="text-center pt-4 text-muted">Already have Account?<a id="forget" routerLink="../login" >login</a></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>